/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #137F8B;
  --ifm-color-primary-dark: #11727D;
  --ifm-color-primary-darker: #106C76;
  --ifm-color-primary-darkest: #0D5961;
  --ifm-color-primary-light: #158C99;
  --ifm-color-primary-lighter: #1692A0;
  --ifm-color-primary-lightest: #19A5B5;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #1AA3B3;
  --ifm-color-primary-dark: #178E9C;
  --ifm-color-primary-darker: #158390;
  --ifm-color-primary-darkest: #116975;
  --ifm-color-primary-light: #26B8C9;
  --ifm-color-primary-lighter: #3CC0CF;
  --ifm-color-primary-lightest: #62CEDA;
}

.tableau-compact td,
.tableau-compact th {
  white-space: nowrap;
}

.tableau-compact {
  font-size: 0.9rem;
  overflow-x: auto;
}

.tableau-compact th,
.tableau-compact td {
  padding: 0.375rem 0.35rem;
}

/* Ligne au-dessus de la 2e catégorie de la sidebar, par exemple */
.theme-doc-sidebar-menu > li:nth-child(2) {
  border-top: 1px solid var(--ifm-color-emphasis-300);
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}

.footer__links {
  text-align: center;
}